<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.AxControls" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.Controls" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.0.0" newVersion="10.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.Carto" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.0.0" newVersion="10.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.Geometry" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.0.0" newVersion="10.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.SystemUI" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.0.0" newVersion="10.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.System" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.0.0" newVersion="10.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.Display" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.0.0" newVersion="10.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ESRI.ArcGIS.ADF" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>