<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--<package id="DevExpress.Utils.v14.2" version="14.2.3.0" targetFramework="net40" />
  <package id="DevExpress.XtraBars.v14.2" version="14.2.3.0" targetFramework="net40" />
  <package id="DevExpress.XtraEditors.v14.2" version="14.2.3.0" targetFramework="net40" />
  <package id="ESRI.ArcGIS.ADF" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.AxControls" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Carto" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Controls" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.DataManagementTools" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.DataSourcesFile" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.DataSourcesGDB" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.DataSourcesRaster" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Display" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Geodatabase" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Geometry" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Geoprocessing" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Geoprocessor" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.GlobeCore" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Output" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.System" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.SystemUI" version="10.8.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />-->
</packages>