<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--<package id="Aspose.Words" version="13.3.0" targetFramework="net40" />
  <package id="ChnCharInfo" version="1.0.0.0" targetFramework="net40" />
  <package id="DevExpress.Data.v14.2" version="14.2.3.0" targetFramework="net40" />
  <package id="DevExpress.Printing.v14.2.Core" version="14.2.3.0" targetFramework="net40" />
  <package id="DevExpress.Sparkline.v14.2.Core" version="14.2.3.0" targetFramework="net40" />
  <package id="DevExpress.Utils.v14.2" version="14.2.3.0" targetFramework="net40" />
  <package id="DevExpress.XtraEditors.v14.2" version="14.2.3.0" targetFramework="net40" />
  <package id="ESRI.ArcGIS.ADF" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Carto" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Controls" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.DataSourcesFile" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.DataSourcesGDB" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.DataSourcesRaster" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Display" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Geodatabase" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Geometry" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.GISClient" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.System" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.SystemUI" version="10.8.0" targetFramework="net45" />
  <package id="ESRI.ArcGIS.Version" version="10.8.0" targetFramework="net45" />
  <package id="Interop.ADOX" version="2.8.0.0" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="NPOI" version="2.4.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="WeifenLuo.WinFormsUI.Docking" version="2.9.0.1" targetFramework="net40" />-->
</packages>